{% extends '../base.html' %}
{% load static %}

{% block title %}Password Change {% endblock title %}

{% block content %}

<div class="bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">

            <div class="col-md-12 col-sm-8 col-lg-4">

                <div class="card shadow-lg rounded-2 p-4">
                    <h3 class="text-center mb-4">Password Reset Sent!</h3>
                    <hr>
                    <form method="POST" class="form-group" novalidate>
                        {% csrf_token %}
                        <div class="form-group my-2">
                            <div class="my-1">
                                {% include './messages.html' %}
                            </div>
                            <img class="d-block mx-auto img-fluid" style="height: 80px; width: 90px;" src="{% static 'image/mail.png' %}" alt="">
                            <p>Hey a password reset link has been sent. Check your inbox!</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}