{% extends '../base.html' %}
{% load static %}

{% block title %}Password Reset{% endblock title %}

{% block content %}

<div class="bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">

            <!-- Responsive column -->
            <div class="col-11 col-sm-8 col-md-6 col-lg-4">

                <div class="card shadow-lg rounded-2 p-4">
                    <h3 class="text-center mb-4">Password Reset</h3>

                    <form method="POST" action="" novalidate>
                        {% csrf_token %}
                        <div class="form-group my-2">
                            {% include './messages.html' %}
                        </div>
                        <div class="form-group my-2">
                            <div class="mb-2">
                                <label for="{{form.username.id_for_label}}" class="form-label">Username</label>
                                {{form.username}}
                                {{form.username.errors}}
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">
                            Reset
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}