{% extends '../base.html' %}
{% load static %}

{% block title %}Password Change {% endblock title %}

{% block content %}

<div class="bg-light">
    <div class="container">
        <div class="row justify-content-center align-items-center min-vh-100">

            <div class="col-md-12 col-sm-8 col-lg-4">

                <div class="card shadow-lg rounded-2 p-4">
                    <h3 class="text-center mb-4">Change Password</h3>
                    <form method="POST" class="form-group" novalidate>
                        {% csrf_token %}
                        <div class="form-group my-2">
                            <div class="my-1">
                                {% include './messages.html' %}
                            </div>
                            <div class="my-1">
                                <label for="current_password">Current Password</label>
                                {{form.current_password}}
                                {{form.current_password.errors}}
                            </div>
                            <div class="my-1">
                                <label for="new_password">New Password</label>
                                {{form.new_password}}
                                {{form.new_password.errors}}
                            </div>
                            <div class="my-1">
                                <label for="confirm_password">Confirm Password</label>
                                {{form.confirm_password}}
                                {{form.confirm_password.errors}}
                            </div>
                            <div class="my1">
                                <button class="btn btn-primary w-100 my-2" type="submit">Change Password</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}